<% provide(:title, 'Home') %>
<body style="background-color: #D3D3D3">
<div class="container-fluid" id="home-index">
	<div class="text-center index-block" id="beginning-block">
		<h1><strong>WELCOME!</strong></h1>
		<p>To get started, either search a movie and make a selection from the autocomplete list</p>
		<p>or</p>
		<p>Browse through the movies on the home page</p>
	</div>
	<div class="lightgray-block">
		<div class="text-center index-block">
			<p>On the home page, you can sort the movies through one of the provided buttons.</p>
			<p>There is also a button that randomly chooses a movie for you.</p>
		</div>
		<img src="/assets/movies_tab.png" class="img-center lazy img-home" id="img_movies_tab">
		<div class="text-center index-block">
			<p>Both IMDb and RottenTomatoes ratings are displayed and a link to the page on the respective websites are provided.</p>
			<p>Lastly, clicking on the movie poster will lead you to the movie information page.
		</div>
	</div>
	<div class="gray-block">
		<div class="text-center index-block">
			<p>The movie information page provides the following information: the director, the release date, the runtime, an overview of the movie, the trailer for the movie, and lastly, the cast.</p>
		</div>
		<img src="/assets/movies_info.png" class="img-center lazy img-home" id="img_movies_info">
	</div>
</div>
</body>
<script>
 /* lazy load images */
    $("img.lazy").lazyload({
    	effect : "fadeIn"
	});
</script>
