<header>
	<nav class="navbar navbar-fixed-top navbar-inverse" id="gray-navbar">
		<div class="container">
      		<div class="navbar-header">
				<a class="navbar-brand" id="brian-brand">
					<%= link_to "Brian Lin", root_path, id: "logo" %>
				</a>
				<button type="button" id="toggle-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-right">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      		</div>
      		<form class="navbar-form navbar-left" id="navbar-search" role="search" action="/search/result" method="get">
      			<div class="input-group" id="search-bar">
        			<input type="text" id="query_str" name="query_str" data-autocomplete="/movie/autocomplete_movie_name" class="form-control" placeholder="Search a movie">  	
        				<span class="input-group-btn">
        					<button type="submit" class="pure-button btn" id="search-button">
        						<i class="fa fa-search fa-lg"></i>
        					</button>
        				</span>
        		</div>
      		</form>
      		<div class="collapse navbar-collapse" id="nav-right">
        		<ul class="nav navbar-right navbar-nav">
          			<li><%= link_to "Home", root_path, id: "home-link" %></li>
          			<!--<li><%= link_to "About", root_path, id: "home-link" %></li> -->
          			<li><%= link_to "Movies", movie_index_path, id: "movie-link" %></li>
        		</ul>
       		</div>
        </div>
	</nav>
	<script>
		$('#query_str').autocomplete({ delay: 0 });
	</script>
		
</header>