<header class="navbar navbar-fixed-top navbar-inverse">
<a class="navbar-brand"><%= link_to "Brian Lin", root_path, id: "logo" %></a>
  <div class="navbar-inner">
    <div class="container">
      <nav>
      		<form class="navbar-form pull-left" role="search" action = "/search/result" method = "get">
        			<input type="text" name="query_str" data-autocomplete="movie/autocomplete_movie_name" class="form-control" placeholder="Search a movie">
        			<button type="submit" class="btn" >Submit</button>
      		</form>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Movies",    movie_index_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>